<div class="container">

    <h3 class="">All Categories </h3>

    <div class="row p-4">
        <div class="col-md-8">
            <form action="/admin/category/create" method="post">
               <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Enter The Title">
                </div>
                <button class="btn btn-outline-success btn-lg" type="submit">Create Category</button>
            </form>
        </div>
    </div>
</div>
