<div class="container">


    <h3 class="">Update</h3>


    <div class="row p-4">
        <div class="col-md-8">
            <form action="/admin/category/edit/{{category._id}}" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="category-title" name="title" value="{{category.title}}">
                <input type="hidden" class="form-control" id="category-id" name="id" value="{{category._id}}">
            </div>
            <button class="btn btn-outline-warning btn-lg" id="update-category-button">Update Category</button>
        </form>
        </div>
    </div>

</div>