<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="my-4">Welcome node js            
        </h1>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
    </div>
</div>
<!-- /.row -->
