{{> frontend/header }}

<body style="padding-top: 54px;">

<!-- Navigation -->
{{> frontend/navigation }}

<!-- Page Content -->
<div class="container">

    {{{ body }}}

</div>
<!-- /.container -->
{{> frontend/footer }}