{{> frontend/header }}

<body>

<!-- Navigation -->
{{> frontend/top-navigation }}

<!-- Page Content -->
<div class="container">
    {{> frontend/messages}}

    {{{ body }}}

</div>
<!-- /.container -->
{{> frontend/footer }}
