{{> frontend/header }}

<body>

<!-- Navigation -->
{{> frontend/navigation }}

<!-- Page Content -->
<div class="container" style="margin-top:50px">

    {{{ body }}}

</div>
<!-- /.container -->
{{> frontend/footer }}